[submodule "sensorFusion"]
	path = sensorFusion
	url = https://github.com/FALCOdrone/Sensor-Fusion
[submodule "control"]
	path = control
	url = https://github.com/FALCOdrone/Control
[submodule "common"]
	path = common
	url = https://github.com/FALCOdrone/Common-Utils.git
