[submodule "Sensor-Fusion"]
	path = Sensor-Fusion
	url = https://github.com/FALCOdrone/Sensor-Fusion
[submodule "Control"]
	path = Control
	url = https://github.com/FALCOdrone/Control
[submodule "sensorFusion"]
	path = sensorFusion
	url = https://github.com/FALCOdrone/Sensor-Fusion
